---
layout: default
---
img {
	border: 10px solid white;
  }
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
<div class="col-md-3">
	<img style="border-radius: 25px;" src="naimul.png" alt="naimul">
	<br>
	<h1 style="text-align:center">K. M. Naimul Hassan</h1>
	<p style="text-align:center;">
		Graduate Fellow (M.Sc.), Department of Electrical and Electronic Engineering (EEE), Bangladesh University of Engineering and Technology (BUET), Dhaka-1205, Bangladesh
	</p>
		<br>
	<div class="col text-center" id="contact-items">
		<a style="padding-right:20px !important" href="mailto:naimul.hassan273@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>
		<a style="padding-right:20px !important" href="https://github.com/NaimulHassan"><i class="fa fa-github fa-2x"></i></a>
		<a style="padding-right:20px !important" href="https://scholar.google.com/citations?user=ondPg7wAAAAJ&hl=en&oi=sra"><i class="ai ai-google-scholar-square ai-2x"></i></a>
		<a style="padding-right:20px !important" href="https://www.linkedin.com/in/k-m-naimul-hassan/"><i class="fa fa-linkedin-in fa-2x"></i></a>
	</div>
	<br>
	<h3 style="text-align:center;">Updates</h3>
	<p class="update" align="justify">
		<strong>16/9/2022</strong> - I've presented our paper on SS+CEDNet in R-10 HTC 2022.  
	</p>
	<p class="update" align="justify">
		<strong>24/5/2022</strong> - I've presented our paper on <a href="https://naimulhassan.github.io//content/papers/alsnet.pdf">ALSNet</a> in ICASSP 2022.  
	</p>
	<p class="update" align="justify">
		<strong>5/5/2022</strong> - Paper accepted in IEEE R10 HTC 2022!
	</p>
	<p class="update" align="justify">
		<strong>13/3/2022</strong> - I've been selected as a post-graduate fellow (M.Sc.) in the department of EEE in BUET. 
	</p>
	<p class="update" align="justify">
		<strong>22/1/2022</strong> - Paper accepted in IEEE ICASSP 2022!
	</p>
</div>

<div style="margin-left:5px" class="col-md-8 blurb">
    <div style="text-align:justify">{{ content }}</div>
</div>

