---
layout: default
---
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
<div class="col-md-3">
	<img style="border-radius: 25px; border:10px solid white;" src="naimul.jpeg" alt="naimul">
	<br>
	<h1 style="text-align:center">K. M. Naimul Hassan</h1>
	<p style="text-align:center;">
		Ph.D. Student, Department of Computer Science and Engineering (CSE), The Ohio State University
	</p>
		<br>
	<div class="col text-center" id="contact-items">
		<a style="padding-right:20px !important" href="mailto:naimul.hassan273@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>
		<a style="padding-right:20px !important" href="https://github.com/NaimulHassan"><i class="fa fa-github fa-2x"></i></a>
		<a style="padding-right:20px !important" href="https://scholar.google.com/citations?user=ondPg7wAAAAJ&hl=en&oi=sra"><i class="ai ai-google-scholar-square ai-2x"></i></a>
		<a style="padding-right:20px !important" href="https://www.linkedin.com/in/k-m-naimul-hassan/"><i class="fa fa-linkedin-in fa-2x"></i></a>
	</div>
	<br>
	<h3 style="text-align:center;">Updates</h3>
	<p class="update" align="justify">
		<strong>11/07/2024</strong> - I've received the IEEE SPS Scholarship 2024.
	</p>
	<p class="update" align="justify">
		<strong>08/22/2023</strong> - I've started my Ph.D. in CSE at The Ohio State University.  
	</p>
	<p class="update" align="justify">
		<strong>08/16/2023</strong> - I've joined as a Graduate Research/Teaching Associate in the department of CSE at The Ohio State University. 
	</p>
	<p class="update" align="justify">
		<strong>07/25/2023</strong> - I defended my M.Sc. thesis entitled as "MEDICAL SOUND EVENT DETECTION USING AUDIO SPECTROGRAM FOURIER NETWORK"!  
	</p>
	<p class="update" align="justify">
		<strong>07/24/2023</strong> - Preprint of <a href="https://doi.org/10.36227/techrxiv.23732205.v1">ASFNet</a> published.  
	</p>
	<p class="update" align="justify">
		<strong>09/16/2022</strong> - I've presented our paper on <a href="http://naimulhassan.github.io/content/papers/SS+CEDNet.pdf">SS+CEDNet</a> in IEEE R-10 HTC 2022.  
	</p>
	<p class="update" align="justify">
		<strong>05/24/2022</strong> - I've presented our paper on <a href="https://naimulhassan.github.io//content/papers/alsnet.pdf">ALSNet</a> in IEEE ICASSP 2022.  
	</p>
	<p class="update" align="justify">
		<strong>05/05/2022</strong> - Paper accepted in IEEE R10 HTC 2022!
	</p>
	<p class="update" align="justify">
		<strong>03/13/2022</strong> - I've been selected as a post-graduate fellow (M.Sc.) in the department of EEE in BUET. 
	</p>
	<p class="update" align="justify">
		<strong>01/22/2022</strong> - Paper accepted in IEEE ICASSP 2022!
	</p>
</div>

<div style="margin-left:5px" class="col-md-8 blurb">
    <div style="text-align:justify">{{ content }}</div>
</div>

