---
layout: default
---

<div class="row no-gutters">
	
	<img style="border-radius: 25px;" src="naimul.JPG" alt="naimul">
	<h1>K. M. Naimul Hassan</h1>
	<p style="text-align:center;">
		Graduate Fellow (M.Sc.), Department of Electrical and Electronic Engineering (EEE), Bangladesh University of Engineering and Technology (BUET), Dhaka-1205, Bangladesh
	</p>
		<br>
	<div class="row text-center" id="contact-items">
		<a style="padding-right:20px !important" href="mailto:naimul.hassan273@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>
		<a style="padding-right:20px !important" href="content/papers/naimulCV.pdf"><i class="ai ai-cv ai-2x"></i></a>
		<a style="padding-right:20px !important" href="https://scholar.google.com/citations?user=ondPg7wAAAAJ&hl=en&oi=sra"><i class="ai ai-google-scholar-square ai-2x"></i></a>
	</div>
	<br>
	<h3 style="text-align:center;">Updates</h3>
	<p class="update">
		<strong>24/5/2022</strong> - I've presented our paper on <a href="https://naimulhassan.github.io//content/papers/alsnet.pdf">ALSNet</a> in ICASSP 2022.  
	</p>
	<p class="update">
		<strong>5/5/2022</strong> - Paper accepted in IEEE R10 HTC 2022!
	</p>
	<p class="update">
		<strong>13/3/2022</strong> - I've been selected as a post-graduate fellow (M.Sc.) in the department of EEE in BUET. 
	</p>
	<p class="update">
		<strong>22/1/2021</strong> - Paper accepted in IEEE ICASSP 2022!
	</p>
</div>

<div style="margin-left:30px" class="col-md-8 blurb">
    <div style="text-align:justify">{{ content }}</div>
</div>

