---
layout: default
---
<h1 class="with-tagline">{{ page.title }}</h1>


<div class="blurb">
    {{ page.blurb | markdownify }}
</div>

{{ content }}

<footer>
    <p align="center">
        <font size="+2">
        <a href="https://naimulhassan.github.io/index">About</a>||<a href="https://naimulhassan.github.io/research">Research</a>||<a href="https://naimulhassan.github.io/achievements">Awards/Honors</a>||<a href="https://naimulhassan.github.io/hobbies">Hobbies</a>||<a href="https://naimulhassan.github.io/content/CV.pdf">CV</a>
        </font>
    </p>
</footer>